name: Unit Tests
on: [push, pull_request]

jobs:
  ci:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install -U pip && pip install flake8 mypy pytest pytest-cov

      - name: Linting with Flake8
        run: flake8 --max-line-length 120 src/

      - name: Type Checking with Mypy
        run: mypy src/

      - name: Run Unit Tests
        working-directory: src
        run: python -m pytest -vvv --color=yes --cov=src --cov-append --cov-report=xml ../tests

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          working-directory: src
          file: coverage.xml
          fail_ci_if_error: true
